 html{
  font-family: Arial, Helvetica, sans-serif;
  
}
.navigation {
  position: relative;
  top: -550px;
  left: 18%;
  width: 60px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 10px 0;

}
.logo{
  position: relative;
  top: -570px;
  left: 0%;
}
.header{
  position: relative;
  top: -570px;
  left: 0%;
  color: white;
  font-size: 15px;
  font-style: normal;
}
span{
  font-size: 35px;
}
.happy{
  margin: 10px;
  padding: 20px;
  width: 312px;
  height: 49px;
  background-color: #f8f8f8;
}
.party{
  margin: 10px;
  padding: 20px;
  width: 312px;
  height: 70px;
  background-color: #F25B29;
}
.happyhour{
  position: absolute;
  top: 635px;
  left: 11.3%;
}
.service{
  display: flex;
  flex-direction: row;
  position: relative;
  top: -220.5px;
  left: 34.3%;
}
.meal{
  
  display: flex;
  flex-direction: row;
  position: relative;
  top: -150px;
  left: 36%;
  font-size: 25px;
  color: white;
}
.lunch{
  opacity: 0.5;
} 
.fastfood{
  position: absolute;
  top: 950px;
  left: 20%;
  background-color: rgb(226, 218, 218);
  box-sizing: border-box;
  border: 10px solid rgb(250, 244, 244); 
} 
