.landing{
  background-image: url("images/landing.jpg");
  height: 636px;
  background-repeat: no-repeat;
  /* width: 1400px; */
  background-position:center ;
}
.navigation {
  position: relative;
  top: -550px;
  left: 18%;
  width: 60px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 10px 0;

}
.logo{
  position: relative;
  top: -570px;
  left: 0%;
}
.header{
  position: relative;
  top: -570px;
  left: 0%;
  color: white;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  /* font-style: normal; */
}
.header span{
  /* font-size: 35px; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 900; */
}
.happy{
  margin: 10px;
  padding: 20px;
  width: 312px;
  height: 49px;
  background-color: #f8f8f8;
}
.party{
  margin: 10px;
  padding: 20px;
  width: 312px;
  height: 70px;
  background-color: #F25B29;
}
.happyhour{
  position: absolute;
  top: 635px;
  left: 11.3%;
}
.service{
  display: flex;
  flex-direction: row;
  position: relative;
  top: -220.5px;
  left: 34.3%;
}
.meal{
  
  display: flex;
  flex-direction: row;
  position: relative;
  top: -150px;
  left: 36%;
  font-size: 25px;
  color: white;
}
.lunch{
  opacity: 0.5;
} 
.fastfood{
  position: absolute;
  top: 950px;
  left: 20%;
  background-color: rgb(226, 218, 218);
  box-sizing: border-box;
  border: 10px solid rgb(250, 244, 244); 
} 
.foods{
  color: #000000;
  margin-left: 50%;
  width: 25%;
  margin-top:-8%;
}
.arrow{
  position: absolute;
  top: 1242px;
  left: 58.6%;
  border: solid #F4845E;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.line{
  position: absolute;
  top: 1257px;
  left: 57%;
  width: 2%;
  border: 1px solid #F4845E;

  }
  .border{
    border: 3px solid #F4845E; 
    width: 180px;
    height: fit-content;
  }
  h5{
    color: #F4845E;
  }

  .fastdrink{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1400px;
    left: 50%;
    box-sizing: border-box;
    border: 10px solid rgb(250, 244, 244); 
  }
  .drinks{
    color: #000000;
    margin-left: 20%;
    width: 25%;
    /* margin-top:-0%; */
    position: relative;
    top: 100px;
    text-align: right;
    
  }
  /* .foods{
    color: #000000;
    margin-left: 50%;
    width: 25%;
    margin-top:-8%;
  } */
  .arrow2{
    position: absolute;
    top:1726px;
    left: 43.6%;
    border: solid #F4845E;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .line2{
    position: absolute;
    top: 1741px;
    left: 42%;
    width: 2%;
    border: 1px solid #F4845E;
  
    }
     .border2{
      border: 3px solid #F4845E; 
      width: 180px;
      height: fit-content;
      margin-top: 8.3%;
      margin-left: 35%;
    } 


.background{
  position: absolute;
  margin-top: 80px;
  margin-left: -25%;
}
.heading{
  position: absolute;
  margin-top: 170px;
  margin-left: -12%;
  display: flex;
  justify-content: space-between;

}
.food1{
  color: #F4845E;;
  text-align: center;
    border: 0px solid #E1E1E1; 
    width: 225px;
    height: 50px;
}
.drink{
  text-align: center;
  border: 1px solid #D1D1D1; 
  width: 225px;
  height: 50px;
  background-color: #E3E3E3;
}
.chicken{
  text-align: center;
  border: 1px solid #D1D1D1; 
  width: 225px;
  height: 50px;
  background-color: #E3E3E3;
}
.rice{
  text-align: center;
  border: 1px solid #D1D1D1; 
  width: 225px;
  height: 50px;
  background-color: #E3E3E3;
}
.image{
  position: absolute;
  margin-top: 300px;
  margin-left: -12%;
  display: flex;
  justify-content: space-between;
  width: 50%;

}
.backcolor{
  position: absolute;
  margin-top: 187px;
  margin-left: -16%;
  border: 0px solid black; 
  width: 1070px;
  height: 390px;
  background-color: white;
}
.arrow3{
  position: absolute;
  top:106px;
  left: 102%;
  border: solid #F4845E;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow4{
  position: absolute;
  top:106px;
  left: -3%;
  border: solid #F4845E;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.meal2{
  position: absolute;
  margin-top: 200px;
  margin-left: 10%;
   display: flex;
  justify-content: space-between; 
  width: 80%;
}
.customers{
  position: absolute;
  margin-top: 797px;
  margin-left: -16%;
  border: 0.1px solid black; 
  width: 1070px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: row;

}
.people{
  display: flex;
  justify-content: space-between; 
  width: 10%;
  flex-direction: row;
  position: absolute;
  margin-top: 1000px;
  margin-left: -6%;
}
.tag{
  position: absolute;
  margin-top: 46%;
  margin-left: -6%;
  color: #F4845E;
}
.george{
  position: absolute;
  margin-top: 48%;
  margin-left: -4%;
}
.content{
  position: absolute;
  margin-top: 51%;
  margin-left: -10%;
  text-align: center;
}
.about{
  position: absolute;
  margin-top: 50%;
  margin-left: 25%;
  color: #F4845E;
}
.menu{
  position: absolute;
  margin-top: 52%;
  margin-left: 22%;
}